body {
    margin: 0;
    font-family: Arial, sans-serif;
background: linear-gradient(to right, #EC6EAD, #3494E6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  }
  .background-video {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -1;
  }
  .content {
    position: relative;
    padding: 20px;
    color: white;
    background-color: rgba(0,0,0,0.6);
  }
  canvas {
    border: 1px solid white;
  }
